/*
    folha de estilo do site one page RK TATOOER
    @autor Felipe Ferreira de Sousa
*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* CSS Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    background-color: #fff;
}

/*Layout*/
.Container {
    margin: 0 auto;
}

.Flex {
    display: flex;
    justify-content: space-between;
    background-color: #000;
}

/*.Flex2 {
    display: flex;
    align-items: center;
}

.TopicoSObre {
    Margin-top: 20px;
}

.TopicosSobre img {
    esse item e para alinhar alguns simbolos caso precise*/

.Flex4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-size: contain;
}

.Flex5 {
    display: flex;
    flex-direction: column-reverse;
}

.Flex6 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#contato, #endereco, #googleMaps {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.Botao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 25px;
}

/* topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Conteúdo Principais Tattoo*/

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

/* Hide the images by default */

.Card {
    margin-top: 25px;
    width: 5px;
    height: 5px;    
    background-color: #e8e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin-top: 15px;
}

.Card p {
    color: #434343;
    padding: 10px 30px 50px 30px;
}

.Card a {
    padding: 10px 100px;
    border: 0;
}

/* Smartphone Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    height: 60px;
}

#logo img {
    width: 25%;
    height: 65%;
    margin: 10px 10px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    background-color: rgba(52, 53, 56, 0.95);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -65%;
    width: 65%;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
    text-align: right;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Destaque */
main {
    height: 75vh;
    background: url(img/tatuador.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 1em;
    text-shadow: #000 0.2em 0.2em 0.05em;
}

main h2 {
    font-size: 3em;
    margin: 20px 0px 50px 0px;
    text-shadow: #000 0.2em 0.2em 0.05em;
}

/* Sobre */
#sobre {
    padding: 20% 0px;
    background: url(img/coruja.png);
    background-size: cover;
    background-position: center;
    font-size: 2.5em;
    text-align: justify;
}

/*#destaqueSobre {
    display: none;
}*/

#textoSobre {
    color: #fff;
    padding: 0px 10px;
}

#textoSobre h2 {
    margin-bottom: 10px;
}

/* Conteúdo */
#conteudo {
    padding: 50px 0px;
}

#conteudo h2 {
    margin-bottom: 25px;
    text-align: center;
    margin-top: 100px;
}

/*#todos {
    margin-top: 50px;
    text-align: center;
}

#todos a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 1.25em;
} no meu código não tem todos */

/* rodapé */
address {
    padding: 30px 10px 50px 10px;
    background: url(img/tatuador_tatuado\ -\ Copia.jpeg);
    background-size: cover;
    background-position: center;
    color: #fff;
}

address a {
    text-decoration: none;
    color: #fff;
}

address img {
    padding-top: 15px;
}

#iconeLocal {
    display: none;
}

#googleMaps {
    width: 100%;
    height: 450px; /* Você pode ajustar a altura conforme necessário */
    padding: 20px 0;
    align-items: center;
}

footer {
    padding: 50px;
    background-color: #343538;
    color: #fff;
    text-align: center;
}

#social {
    margin-bottom: 25px;
}

/* Smartphone Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /*Layout*/
    .Container {
        max-width: 540px;
    }

    /* Destaque */
    main h1,

    main h2 {
        text-shadow: #525252 0.25em 0.25em 0.25em;
    }

    /* rodapeé */
    .Flex5 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #social {
        margin: 0;
    }


#logo img {
    width: 15%;
    height: 75%;
    margin: 10px 10px;
    }
}   

/* Tablet Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    /*Layout*/
    .Container {
        max-width: 720px;
    }

    /* Destaque */
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 5.5em;
    }

    main h2 {
        font-size: 2em;
    }

    .Flex6 {
        flex-direction: row-reverse;
    }
    
    address {
        padding-top: 50px;
      }
    
      #iconeLocal {
        display: inline;
      }
    
      #iconeMapa {
        display: none;
      }
    
      #googleMaps {
        display: inline;
        right: 100%;
        height: 100%;
    }  
   
}

/* Tablet Landscape  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 992px) {

    /*Layout*/
    .Container {
        max-width: 960px;
    }

    /* Destaque */
    main {
        height: 70vh;
    }

}

/* PC  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (min-width: 1200px) {

    /*Layout*/
    .Container {
        max-width: 1140px;
    }

    /* Cabeçalho*/
    header {
        height: 110px;
        width: auto;
        background-color: #000;
    }

    #logo img {
        width: 150px;
        height: 189px;
        margin-top: 25px;
        margin-left: 25px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        width: 100%;
        height: auto;
        background-color: transparent;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li {
        color: #343538;
    }

    nav ul li a:hover {
        color: blue;
    }

    /*Sobre */
    #sobre {
        background-attachment: fixed;
    }

    #destaqueSobre {
        display: inline;
    }

    #destaquesobre img {
        border-radius: 50%;
        margin-right: 50px;
    }

    .main img {
        height: 100%;
        background-color: #a1a1a1;
    }    
}